<div class="layout layout--col">
  <table class="tbl">
    {% assign shown = 0 %}
    {% for game in upcoming %}
      {% if filter == "Home Only" and game.home_away != "home" %}{% continue %}{% endif %}
      {% if filter == "Away Only" and game.home_away != "away" %}{% continue %}{% endif %}
      {% if shown >= 4 %}{% break %}{% endif %}
      {% assign parts = game.date_short | split: " - " %}
      <tr class="border-b-1">
        <td class="td-date-sm py--1 pr--1">
          <span class="label label--small">{{ parts[0] }}</span>
        </td>
        <td class="td-logo-md py--1 px--1">
          <img src="{{ game.opp_logo }}" width="24" height="24" class="img-block" />
        </td>
        <td class="py--1 px--1">
          <span class="label label--small">{% if game.is_home %}vs{% else %}@{% endif %} {{ game.opp_abbr }}{% if game.opp_record != blank %} <span class="font-12">({{ game.opp_record }})</span>{% endif %}</span>
        </td>
        <td class="nowrap py--1 pl--1 text--right">
          <span class="label label--small">{{ parts[1] }}</span>
        </td>
      </tr>
      {% assign shown = shown | plus: 1 %}
    {% endfor %}
  </table>
</div>

<div class="title_bar">
  <img class="image" src="{{ team.logo }}" />
  <span class="title">{{ team.name }}</span>
  <span class="instance">{{ team.record }}</span>
</div>
